
Homework02/assets/cifar10/cifar-10-batches-py/batches.meta
Homework02/assets/cifar10/cifar-10-batches-py/data_batch_1
Homework02/assets/cifar10/cifar-10-batches-py/data_batch_2
Homework02/assets/cifar10/cifar-10-batches-py/data_batch_3
Homework02/assets/cifar10/cifar-10-batches-py/data_batch_4
Homework02/assets/cifar10/cifar-10-batches-py/data_batch_5
Homework02/assets/cifar10/cifar-10-batches-py/readme.html
Homework02/assets/cifar10/cifar-10-batches-py/test_batch
Homework02/assets/cifar10/cifar-10-python.tar.gz
Homework02/libs/__pycache__/math.cpython-312.pyc
Homework02/libs/__pycache__/optim.cpython-312.pyc
Homework02/libs/models/__pycache__/__init__.cpython-312.pyc
Homework02/libs/models/__pycache__/custom_cnn.cpython-312.pyc
Homework02/libs/models/__pycache__/logistic_regression.cpython-312.pyc
Homework02/libs/models/__pycache__/logistic_regression_penalized.cpython-312.pyc
Homework02/libs/models/__pycache__/multinomial.cpython-312.pyc
Homework02/libs/models/__pycache__/poor_cnn.cpython-312.pyc
